/* ============> background colors <============ */
section.side-layout-main {
  /* Background color of the main section, with the page contents and table of contents. */
  background: #ffffff;
  }
  
  footer.ant-layout-footer {
  /* Background color of the footer */
  background: #de0404;
  }
  
  header.ant-layout-header {
  /* Background color of the header, with logo and search bar. */
  background: #e0e0e0;
  }
  
  .dendron-tree-menu.ant-menu
  .ant-menu-submenu.dendron-ant-menu-submenu-selected
  > .ant-menu-submenu-title {
  /* Background color for the currently selected item on the sidebar. */
  background: #c5dcff;
  }
  
  .site-layout-sidebar.ant-layout,
  .ant-layout-sider,
  .ant-menu-submenu,
  .site-layout-sidebar.ant-layout .ant-menu.ant-menu-inline,
  .ant-menu-vertical .ant-menu-submenu,
  .ant-menu-vertical-left .ant-menu-submenu,
  .ant-menu-vertical-right .ant-menu-submenu,
  .ant-menu-inline .ant-menu-submenu {
  /* Background color for the sidebar. */
  background: #e0e0e0;
  }

body {
  /** Color for all non-link text. */
  color: antiquewhite;
}

a,
a:hover,
a:active {
/** Color for links, except ones that have been already visited. */
color: aqua;
}

a:visited {
/* Color for links that have been already visited. */
color: #00aaaa;
}
