
body {
  /** Color for all non-link text. */
  color: white;
  background-color: seagreen;
}

a,
a:hover,
a:active {
/** Color for links, except ones that have been already visited. */
color: #00ffff;
}

a:visited {
/* Color for links that have been already visited. */
color: #00aaaa;
}
