@primary-color: coral;
@text-color: white;
@text-color-secondary: coral;
@body-background:DarkSlateGray;
@component-background: DarkSlateGray;
@layout-header-background: DarkSlateGray;


@breadcrumb-last-item-color: @text-color;

