@background-color: DarkSlateGrey;

@primary-color: coral;
@text-color: white;
@text-color-secondary: fade(@text-color, 65%);
@text-color-inverse: black;
@component-background: @background-color;
@layout-header-background: @background-color;
@layout-body-background: @background-color;

@item-active-bg: red;
